<h1>Reimagine your Marble.</h1>

<%= render 'form' %>

<%= link_to pins_path do %>
	<span class="glyphicon glyphicon-arrow-left"></span>
	Back
<% end %>

<%= link_to 'Show', @pin %> |
<%= link_to 'Back', pins_path %>
