<style type="text/css">
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline; color: #FAFAA2;}
</style>

<div class="jumbotron">
<h1>About Selfle.</h1>
<p><h3>Selfle is headquartered in New York City<br>&amp; is a Riotous Amusements Production.</h3><p>
<p><br><b><h3>We are producing the Pixie Dust.</h3></p>
<p><br><br>Check Back Soon!<br><br>Just Remember,<br>Dreams do come true.</p>

<div align="right">
	<p><h3><a href="mailto:king@selfle.com"><span class="glyphicon glyphicon-tower"></span> Letters to the King</a></h3></p>
</div>