// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
	margin: 0 auto;
	overflow: hidden;
}

.box {
	margin: 5px;
	width: 30%;
    border-radius: 5px;
}

.box img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}